<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <script src="https://kit.fontawesome.com/f1d8fe4e09.js" crossorigin="anonymous"></script>
    <link href="lib/assets/stylesheets/style.css" rel="stylesheet">
    <link href="https://bootswatch.com/sketchy/" rel="stylesheet">
  </head>
  <body>
    <h1>Salut et bienvenue chez nous ! </h1>
    <p>  Merci de t'être inscrit.e à Shopkitties, ton site préféré de photos de chatons. Tu t'es inscrit en utilisant l'e-mail suivant : <%= @user.email %>. </p>
    <p>
     Pour accéder à ton espace client, connecte-toi via : https://shopkitties.herokuapp.com/sign_in.
   </p>
   <p> À très vite sur shopkitties.fr !
     
  </body>
</html>
