<div class="container text-center mt-5 mb-5">
  <h2>Merci <%= current_user.email %>, vous avez payé <strong><%= @amount %> €</strong>!</h2>
  <div class="row mb-5 mt-5">
    <div class="col-2">

    </div>
    <div class="col-4 text-center">
      <%= link_to "Retourner à l'accueil", items_path, class: 'btn btn-success' %>
    </div>
    <div class="col-4 text-center">
      <%= link_to "Mon compte", user_path(current_user.id), class: 'btn btn-info' %>
    </div>
    <div class="col-2">

    </div>

  </div>
</div>
