<!-- Footer -->
<footer class="footer font-small special-color-dark mt-5 pt-3 bg-secondary cover">

  <!-- Footer Elements -->
  <div >
      
    <!-- Social buttons -->

      <div class="row">
        <div class="col-4" style="text-align: left;">
          <p class="ml-2 text-left text-muted">Equipe Toulouse :</p>
          <p class="ml-3 text-left text-muted">Nathan Chateau, Amy Mcarthur, Hadrien Samouillan et Xuan Wang</p>
        </div>
        <div class="col-1"></div>
        <div>
          <p class="text-muted" style="margin-top: 30px; margin-left: 100px;">SHOPKITTIES<sup>©</sup> 2020</p>
        </div>
    </div>
    <ul class="list-unstyled list-inline text-center mb-0">    

      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-2x fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-2x fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-2x fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-2x fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-2x fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  </div>
</footer>
<!-- Footer -->
