<div class="jumbotron jumbotron-fluid ml-1 mt-1" style="background-image: url(https://images.pexels.com/photos/127027/pexels-photo-127027.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-size: 100%;height:400px; background-position:center 30%;">
  <div class="container">
    <h1 class="display-4 text-light">ShopKitties</h1>
    <p class="lead text-light">Mettez les plus belles photos de chatons dans votre panier, et partez avec !</p>
  </div>
</div>