<div class=" m-1 border" style="background-image: url(https://static.lexpress.fr/medias_10521/w_2048,h_890,c_crop,x_0,y_372/w_960,h_540,c_fill,g_north/v1558088348/grumpy-cat-2_5387055.jpg); background-size: 23%;height:160px; cover; no-repeat;">
    <div class="container" style="background-color: rgba(255, 255, 255, 0.2); margin-top: 30px; border-radius: 15px; height: 100px">
      <h1 class="display-1 text-grey text-center">SHOPKITTIES</h1>
    </div>
  </div>